<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&family=Ubuntu+Condensed&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style4.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
</head>

<body class="table-responsive">

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"
            style="background-image: linear-gradient(#B5EAEA,#B5EAEA);">
            <a href="/">
                <i class="bi bi-bug-fill" style="font-size: 3rem;color: black;"></i></a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/education" style="font-size: 25px;color: black;font-weight:bold;">EDUCATION</a>
                    <a class="nav-item nav-link" href="/projects" style="font-size: 25px;color: black;font-weight:bold;">SKILLS &
                        PROJECTS</a>
                    <a class="nav-item nav-link" href="/accomplishments"
                        style="font-size: 25px;color: black;font-weight:bold;">ACCOMPLISHMENTS</a>
                    <a class="nav-item nav-link" href="/gallery" style="font-size: 25px;color: black;font-weight:bold;">GALLERY</a>
                </div>
        </nav>
    </header>
    <br>
    <div class="container">
        <center>
            <h2 style="font-size:30px;color:#1DB9C3;font-weight: bold;">PHOTO GALLERY</h2><br>
        </center>
        <hr>
        <div class="row">

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://drive.google.com/drive/folders/1wCx2vDYW0c-jpbv4SWPYryWoNYu_iqW5?usp=sharing"
                        style="text-decoration: none;">
                        <img src="https://pbs.twimg.com/media/E0vLQiCXIAUaDeT?format=jpg&name=large" alt="food"
                            style="width:100%"><br>
                        <div class="centered">
                            <center>
                                <p style="font-size:55px;color:#1DB9C3;font-weight: bold;">FOOD</p>
                            </center>
                        </div>
                    </a>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://drive.google.com/drive/folders/1GZIiFB_wjFy9jYHYXpZm47_8TzuA-t7X?usp=sharing"
                        style="text-decoration: none;">
                        <img src="https://cdn.shopify.com/s/files/1/1002/7150/products/POS-284_2.jpg?v=1623654627"
                            alt="chennai" style="width:100%"><br>
                    </a>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="https://drive.google.com/drive/folders/1xnp24zWjKM1EaIJw5Jvlo_wuMkF_XMQT?usp=sharing"
                        style="text-decoration: none;">
                        <img src="https://images.unsplash.com/photo-1579550973101-0cbb102afb56?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8OXwxMDI1OTEwfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                        alt="nature" style="width:100%">
                        <div class="top-right">
                            <center>
                                <p style="font-size:55px;color:#1DB9C3;font-weight: bold;">NATURE</p>
                            </center>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><hr>
</body>

</html>