<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&family=Ubuntu+Condensed&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style5.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
</head>

<body class="table-responsive">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"
            style="background-image: linear-gradient(#FFB319,#FFB319);">
            <a href="/">
                <i class="bi bi-bug-fill" style="font-size: 3rem;color: black;"></i></a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/education" style="font-size: 25px;color: black;font-weight:bold;">EDUCATION</a>
                    <a class="nav-item nav-link" href="/projects" style="font-size: 25px;color: black;font-weight:bold;">SKILLS &
                        PROJECTS</a>
                    <a class="nav-item nav-link" href="/accomplishments"
                        style="font-size: 25px;color: black;font-weight:bold;">ACCOMPLISHMENTS</a>
                    <a class="nav-item nav-link" href="/gallery" style="font-size: 25px;color: black;font-weight:bold;">GALLERY</a>
                </div>
        </nav>
    </header>
    <br>
    <br>

    <center>
        <h1 style="font-size: 28px;color:#FFB319;font-weight: bold;">SKILLS</h1>
        <p style="font-size:23px;padding: 20px;color:black;">C || C++ || JAVA || PYTHON || HTML-5 || CSS-3 || JAVASCRIPT ||
            DJANGO || MACHINE LEARNING || NodeJS || MySQL</p>
    </center>

    <center>
        <h1 style="font-size: 28px;color:#FFB319;font-weight: bold;">PROJECTS</h1>
    </center>


    <div class="list-group" style="padding:20px;font-size: 16px;">
        <a href="https://intense-brushlands-32638.herokuapp.com/"
            class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1" style="font-weight:bold;color: black;">AAROGYA SETU CLONE</h3>
                <small style="color: black;font-weight:bold;">MAY 2021 - JUNE 2021</small>
            </div>
            <p class="mb-1" style="color: black;font-size: 20px;">A MACHINE LEARNING MODEL WAS TRAINED TO PREDICT THE
                COVID‑19 RESULT,
                WITH COUGH,
                SHORTNESS
                OF BREATH,FEVER,HEADACHE AND SORE THROAT AS INPUT FEATURES.THIS WAS INTEGRATED USING A WEB
                APPLICATION,
                WHICH WAS DESIGNED USING DJANGO AND THE FINAL COVID‑19 RESULT IS SENT AS AN SMS TO THE
                USER WHO IS USING THE WEB APPLICATION.
            </p>
        </a>
        <a href="https://polar-depths-09807.herokuapp.com/"
            class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1" style="font-weight: bold;color: black;">WORD COUNTER</h3>
                <small style="color: black;font-weight:bold;">MAY 2021 - JUNE 2021</small>
            </div>
            <p class="mb-1" style="color: black; font-size: 20px;">WORD COUNTER IS A WEB BASED APPLICATION WHICH IS
                BUILT USING
                DJANGO.THIS CAN BE USED TO
                MEASURE THE TYPING SPEED AND GET THE DICTIONARY ORDER OF THE WORDS WHICH WE HAD GIVEN AS INPUT IN THE
                TEXT AREA.</p>
        </a>
    </div>
</body>

</html>