body{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
    color:black;
    background-color:white;
    padding: 20px;
}
.color{
    background-color: lightskyblue;
}
